<h1>View Available Artists</h1>
A listing of all the artists currently in The Emkay Library collection.<br><br>
        <table>
            <thead>
                <th>Artist_ID</th>
                <th>First_name</th>
                <th>Last_name</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jimmy</td>
                <td>Buffett</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Patti</td>
                <td>Smith</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Akira</td>
                <td>Kurosawa</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Sydney</td>
                <td>Lumet</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>James</td>
                <td>Gunn</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Anna</td>
                <td>Sewell</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Emily</td>
                <td>Brontë</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>Kinka</td>
                <td>Usher</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>Eric</td>
                <td>Idle</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
          </tbody>
        </table><br>

<h2>Search Artists</h2>
<form>
  <label for="last_name">
    <span>Last Name:</span>
  </label>
  <input type="text" id="Last_name" name="Last_name">
  <button type="submit">Search</button>
</form>

<!--
  Add a New Artist Form
-->
<h2>Add a New Artist</h2>
<p>Complete each form entry below to add a member.</p>
<form id="addArtist" action="/artists" method="post">
<section>
   <p>
      <label for="artist">
        <span>First Name: </span>
      </label>
      <input type="text" name="First_name">
    </p>
    <p>
       <label for="title">
         <span>Last Name: </span>
       </label>
       <input type="text" name="Last_name">
     </p>
  <button type="submit" value="Submit">Submit</button>
  </section>
</form>
