<h1>View Available Books</h1>
A listing of all the books currently in The Emkay Library collection.<br><br>
        <table>
            <tr>
                <th>Book_ID</th>
                <th>Artist_ID</th>
                <th>Artist First Name</th>
                <th>Artist Last Name</th>
                <th>Title</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>The Favorite Game</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>Beautiful Losers</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>Let Us Compare Mythologies</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>The Spice-Box of Earth</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>2</td>
                <td>Jimmy</td>
                <td>Buffett</td>
                <td>Tales from Margaritaville</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>2</td>
                <td>Jimmy</td>
                <td>Buffett</td>
                <td>Where is Joe Merchant?</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>2</td>
                <td>Jimmy</td>
                <td>Buffett</td>
                <td>A Pirate Looks at Fifty</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>2</td>
                <td>Jimmy</td>
                <td>Buffett</td>
                <td>A Salty Piece of Land</td>
                <td><button>Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr>
        </table><br>

<h2>Search Books</h2>
<form>
  <label for="book_title">
    <span>Title:</span>
  </label>
  <input type="text" id="book_title" name="book_title">
  <button type="submit">Search</button>
</form>

<h2>Add Books</h2>
<p>Complete the form to add a new book. </p>
<form id="addBook" action="/books" method="post">
   <p>
      <label for="artist">
        <span>Artist ID: </span>
      </label>
      <input type="text" name="Artist_ID">
    </p>
    <p>
       <label for="title">
         <span>Title: </span>
       </label>
       <input type="text" name="Title">
     </p>
  <button type="submit" value="Submit">Submit</button>
</form>
