<h1>View Available Books</h1>
A listing of all the books currently in The Emkay Library collection.<br><br>
        <table id="books_table">
         <thead>
        <tr>
                <th>Book_ID</th>
                <th>Artist_ID</th>
                <th>Artist First Name</th>
                <th>Artist Last Name</th>
                <th>Title</th>
            </tr>
</thead>
    <tbody>
      {{#each books}}
      <td>{{Book_ID}}</td>
      <td>{{Artist_ID}}</td>
      <td>{{First_name}}</td>
      <td>{{Last_name}}</td>
      <td>{{Title}}</td>
      <td><button onclick="deleteBook({{Book_ID}})">Delete</button></td>
      <td><a href="/books/{{Book_ID}}">Update</a></td>
    </tbody>
    {{/each}}
</table><br>

<h2>Search Books</h2>
<form id='search-books' action='' method=''>
  <label for="book_title">
    <span>Title:</span>
  </label>
  <input type="text" id="title_search" name="title_search_string" value="">
  <button type="button" onclick="searchBooks()">Search</button>
</form>

<h2>Add Books</h2>
<p>Complete the form to add a new book. </p>
<form id="addBook" action="/books" method="post">
   <p>
      <label for="artist">
        <span>Artist ID: </span>
      </label>
      <input type="text" name="Artist_ID">
    </p>
    <p>
       <label for="title">
         <span>Title: </span>
       </label>
       <input type="text" name="Title">
     </p>
  <button type="submit" value="Submit">Submit</button>
</form>
