<h1>View Available Movies</h1>

        A listing of all the movies currently in The Emkay Library collection.<br><br>
        <table id="movies_table">
    <thead>
        <tr>
                <th>Movie_ID</th>
                <th>Artist_ID</th>
                <th>Artist First Name</th>
                <th>Artist Last Name</th>
                <th>Title</th>
            </tr>
            </thead>
    <tbody>
      {{#each movies}}
      <td>{{Movie_ID}}</td>
      <td>{{Artist_ID}}</td>
      <td>{{First_name}}</td>
      <td>{{Last_name}}</td>
      <td>{{Title}}</td>
      <td><button onclick="deleteMovie({{Movie_ID}})">Delete</button></td>
      <td><a href="/movies/{{Movie_ID}}">Update</a></td>
    </tbody>
    {{/each}}
</table>

<br>
<h2>Search Movies</h2>
<form>
  <label for="movie_title">
    <span>Title:</span>
  </label>
  <input type="text" id="movie_title" name="movie_title">
  <button type="submit">Search</button>
</form>


<h2>Add Movies</h2>
<p>Complete the form to add a new movie.</p>
<form action="/movies" method="post">
   <p>
      <label for="artist">
        <span>Artist ID: </span>
      </label>
      <input type="text" name="Artist_ID">
    </p>
    <p>
       <label for="title">
         <span>Title: </span>
       </label>
       <input type="text" name="Title">
     </p>
  <button type="submit" value="Submit">Submit</button>
</form>
