<h1>View Currently Checked-Out Movies</h1>

<table id="patrons_movies_table">
<thead>
  <tr>
    <th>Patron_ID</th>
    <th>Movie_ID</th>
    <th>Patron First Name</th>
    <th>Patron Last Name</th>
    <th>Movie Title</th>
  </tr>
  </thead>
    <tbody>
      {{#each albums}}
      <td>{{Patron_ID}}</td>
      <td>{{Movie_ID}}</td>
      <td>{{First_name}}</td>
      <td>{{Last_name}}</td>
      <td>{{Movie Title}}</td>
      <td><button>Delete</button></td>
      <td><a href="/">Update</a></td>
    </tbody>
    {{/each}}
</table>
