<h1>View Library Patrons</h1>
A listing of all the patrons currently in The Emkay Library collection.<br><br>
<table id="patrons_table">
    <thead>
        <tr>
    <th>Patron_ID</th>
    <th>First_name</th>
    <th>Last_name</th>
    <th>Email_address</th>
  </tr>
  </thead>
    <tbody>
      {{#each patrons}}
      <td>{{Patron_ID}}</td>
      <td>{{First_name}}</td>
      <td>{{Last_name}}</td>
      <td>{{Email_Address}}</td>
      <td><button onclick="deletePatron({{Patron_ID}})">Delete</button></td>
      <td><a href="/patrons/{{Patron_ID}}">Update</a></td>
    </tbody>
    {{/each}}
</table>

<h2>Search Patrons</h2>
<form>
  <label for="last_name">
    <span>Last Name:</span>
  </label>
  <input type="text" id="patron_last_name" name="patron_last_name">
  <button type="submit">Search</button>
</form>

<h2>Add a New Patron</h2>
<p>Complete the form below to add a new patron. </p>
<form id="addPatron" action="/patrons" method="post">
   <p>
      <label for="fname">
        <span>First Name: </span>
      </label>
      <input type="text" name="First_name">
    </p>
    <p>
       <label for="lname">
         <span>Last Name: </span>
       </label>
       <input type="text"name="Last_name">
     </p>
   <p>
     <label for="email">
       <span>Email:</span>
     </label>
     <input type="email" name="Email_address">
   </p>

  <button type="submit" value="Submit">Submit</button>
</form>
