<h1>View Library Patrons</h1>
A listing of all the artists currently in The Emkay Library collection.<br><br>
<table>
  <tr>
    <th>Patron_ID</th>
    <th>First_name</th>
    <th>Last_name</th>
    <th>Email_address</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Marilyn</td>
    <td>Monroe</td>
    <td>mmonroe@gmail.com</td>
    <td><button>Delete</button></td>
    <td><a href="/people/{{id}}">Update</a></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Abraham</td>
    <td>Lincoln</td>
    <td>abe.lincoln@gmail.com</td>
    <td><button>Delete</button></td>
    <td><a href="/people/{{id}}">Update</a></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nelson</td>
    <td>Mandela</td>
    <td>nmandela@hotmail.com</td>
    <td><button>Delete</button></td>
    <td><a href="/people/{{id}}">Update</a></td>
  </tr>
  <tr>
    <td>4</td>
    <td>John F.</td>
    <td>Kennedy</td>
    <td>jfkennedy@aol.com</td>
    <td><button>Delete</button></td>
    <td><a href="/people/{{id}}">Update</a></td>
  </tr>
  <tr>
    <td>5</td>
    <td>Martin Luther</td>
    <td>King</td>
    <td>mlking@gmail.com</td>
    <td><button>Delete</button></td>
    <td><a href="/people/{{id}}">Update</a></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Winston</td>
    <td>Churchill</td>
    <td>wchurchill@sbcglobal.net</td>
    <td><button>Delete</button></td>
    <td><a href="/people/{{id}}">Update</a></td>
  </tr>
  <tr>
    <td>7</td>
    <td>Donald</td>
    <td>Trump</td>
    <td>djtrump@yahoo.com</td>
    <td><button>Delete</button></td>
    <td><a href="/people/{{id}}">Update</a></td>
  </tr>
  <tr>
    <td>8</td>
    <td>Bill</td>
    <td>Gates</td>
    <td>bgates@microsoft.com</td>
    <td><button>Delete</button></td>
    <td><a href="/people/{{id}}">Update</a></td>
  </tr>
  <tr>
    <td>9</td>
    <td>Muhammad</td>
    <td>Ali</td>
    <td>muhammad.ali@aol.com</td>
    <td><button>Delete</button></td>
    <td><a href="/people/{{id}}">Update</a></td>
  </tr>
  <tr>
    <td>10</td>
    <td>Mahatma</td>
    <td>Gandhi</td>
    <td>mgandhi@sbcglobal.net</td>
    <td><button>Delete</button></td>
    <td><a href="/people/{{id}}">Update</a></td>
  </tr>

</table>

<h2>Search Patrons</h2>
<form>
  <label for="last_name">
    <span>Last Name:</span>
  </label>
  <input type="text" id="patron_last_name" name="patron_last_name">
  <button type="submit">Search</button>
</form>

<h2>Add a New Patron</h2>
<p>Complete the form below to add a new patron. </p>
<form id="addPatron" action="/patrons" method="post">
   <p>
      <label for="fname">
        <span>First Name: </span>
      </label>
      <input type="text" name="First_name">
    </p>
    <p>
       <label for="fname">
         <span>Last Name: </span>
       </label>
       <input type="text"name="Last_name">
     </p>
   <p>
     <label for="email">
       <span>Email:</span>
     </label>
     <input type="email" name="Email_address">
   </p>

  <button type="submit" value="Submit">Submit</button>
</form>
