<h1>Update {{artist.First_name}} {{artist.Last_name}}</h1>

<p>To update this artist, enter all the correct information in the form below.</p>
<form id="update-artists" action="/artists" method="post">
<section>
   <p>
      <label for="artist">
        <span>First Name: </span>
      </label>
      <input type="text" name="First_name" value={{artist.First_name}}>
    </p>
    <p>
       <label for="title">
         <span>Last Name: </span>
       </label>
       <input type="text" name="Last_name" value={{artist.Last_name}}>
     </p>
  <button onclick="updateArtist({{artist.Artist_ID}})">Update</button>
  </section>
</form>
